body
{
    text-align: left;
    color: gray;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#cabecera
{
    background: #33a;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0, 5em;
}
#cabecera #tagline
{
    padding: 0 0 0 len;
    font-weight: normal;
}
#container
{
    width: 70%;
    padding: len;
    text-align: left;
    border: 1px solid gray;
    margin: auto;
}
#container h1
{
    font-size: 60px;
}