body
{
    text-align: left;
    color: gray;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
    background: #4e4f52;
}
#cabecera
{
    background: rgb(30, 4, 104);
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0, 5em;
}
#cabecera #tagline
{
    padding: 0 0 0 len;
    font-weight: normal;
    font-size: 0.8em;
}
#cabecera #logo
{
    width: 40px;
    vertical-align: middle;
}
#container
{
    width: 70%;
    padding: len;
    text-align: left;
    border: 1px solid gray;
    margin: auto;
}
#container h1
{
    font-size: 70px;
}
#post
{
    background: white;
    padding: lem;
}